.categorias {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  height: 80vh;
  width: 100%;
}

.categorias h3 {
  font-size: 1.7em;
  padding-bottom: 5px;
}

.categorias section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.categorias article {
  text-align: start;
  font-size: .9em;
  height: 100%;
}

.categorias article h4 {
  width: 100%;
  text-align: center;
}

.categorias h3 {
  border-bottom: solid 1px rgba(4, 129, 10, 0.9);
}

.categorias p {
  color: rgba(4, 129, 10, 0.9);
}

.categorias article:hover img {
  cursor: pointer;
  transition: .4s ease all;
  box-shadow: 0 0 5px rgba(4, 129, 10, 0.6);
}

.categorias article:hover h4 {
  cursor: pointer;
  transition: .5s ease all;
  background-color: rgba(4, 129, 10, 0.6);
  color: #f0f0f0;
}


section article a {
  text-decoration: none;
}



@media only screen and (max-width: 600px) {

  .categorias {
    padding: 15% 5%;
    height: auto;
  }

  .categorias section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .categorias section article {
    width: 100%;
  }

  .categorias p {
    font-size: .8em;
  }

  .categorias article h4 {
    font-size: 1em;
    color: rgba(4, 129, 10, 0.9);
  }
}